    <robot name="viechle">
    
      <link name="base_link">      
        <inertial>
          <origin xyz="-3.53959541077295E-06 0.0438384138438208 0.00224778740440818" rpy="0 0 0" />
          <mass value="1.17441366487799" />
          <inertia 
          ixx="0.00396985141151892" 
          ixy="-2.32032333599352E-18" 
          ixz="-1.37733198282129E-19" 
          iyy="0.0026498609198602" 
          iyz="1.9580916062777E-21" 
          izz="0.0026498609198602" />
        </inertial>
        
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <!--<box size="" />-->
            <mesh filename="package://viechle_urdf/meshes/base_link.STL" />
          </geometry>
          <meterial name="white">
            <color rgba="1 1 1 1" />
          </meterial>
        </visual>
        
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/base_link.STL" />
          </geometry>
        </collision>     
      </link>


      <link name="wheel_1">
        <inertial>
          <origin xyz="-0.26 -0.46 -0.3"
        rpy="0 0 0" />
          <mass value="1.17441366487799" />
          <inertia 
          ixx="0.00396985141151892" 
          ixy="-2.32032333599352E-18" 
          ixz="-1.37733198282129E-19" 
          iyy="0.0026498609198602" 
          iyz="1.9580916062777E-21" 
          izz="0.0026498609198602" />
        </inertial>
        
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/right_front_wheel.STL" />
          </geometry>
          <meterial name="black">
            <color rgba="0 0 0 1" />
          </meterial>
        </visual>
        
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/right_front_wheel.STL" />
          </geometry>
        </collision>
      </link>
         
      <link name="wheel_2">
        <inertial>
          <origin xyz="-0.26 0.46 -0.3"
        rpy="0 0 0" />
          <mass value="1.17441366487799" />
          <inertia 
          ixx="0.00396985141151892" 
          ixy="-2.32032333599352E-18" 
          ixz="-1.37733198282129E-19" 
          iyy="0.0026498609198602" 
          iyz="1.9580916062777E-21" 
          izz="0.0026498609198602" />
        </inertial>
        
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/right_back_wheel.STL" />
          </geometry>
          <meterial name="black">
          </meterial>
        </visual>
        
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/right_back_wheel.STL" />
          </geometry>
        </collision>
      </link>
        
      <link name="wheel_3">
        <inertial>
          <origin xyz="0.26 -0.46 -0.3" rpy="0 0 0"/>
          <mass value="1.17441366487799" />
          <inertia         
          ixx="0.00396985141151892" 
          ixy="-2.32032333599352E-18" 
          ixz="-1.37733198282129E-19" 
          iyy="0.0026498609198602" 
          iyz="1.9580916062777E-21" 
          izz="0.0026498609198602" />
        </inertial>
        
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/left_front_wheel.STL" />
          </geometry>
          <meterial name="black">
          </meterial>
        </visual>
        
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/left_front_wheel.STL" />
          </geometry>
        </collision>  
      </link>
      
      <link name="wheel_4">
        <inertial>
          <origin xyz="0.26 0.46 -0.3"
        rpy="0 0 0"/>
          <mass value="1.17441366487799" />
          <inertia 
          ixx="0.00396985141151892" 
          ixy="-2.32032333599352E-18" 
          ixz="-1.37733198282129E-19" 
          iyy="0.0026498609198602" 
          iyz="1.9580916062777E-21" 
          izz="0.0026498609198602" />
        </inertial>
        
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/left_back_wheel.STL" />
          </geometry>
          <meterial name="black">
          </meterial>
        </visual>
        
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/left_back_wheel.STL" />
          </geometry>
        </collision>    
      </link>
      
      <!--right 1-->
      <link name="laser_1">
        <inertial>
          <origin xyz="-0.317 -0.260 -0.105" rpy="0 0 0" />
          <mass value="0.00693911277597958" />
          <inertia 
          ixx="4.24990177842731E-07"
          ixy="9.04749990937182E-09"
          ixz="-5.20832174442818E-10"
          iyy="4.19901677616113E-07"
          iyz="-5.66807478714134E-10"
          izz="4.24187010973064E-07" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
          <meterial name="black">
            <color rgba="0 0 0 1" />
          </meterial>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
        </collision>
      </link>  
      <!--right 2-->
      <link name="laser_2">
        <inertial>
          <origin xyz="-0.317 0.550 -0.105" rpy="0 0 0" />
          <mass value="0.00693911277597958" />
          <inertia 
          ixx="4.24990177842731E-07"
          ixy="9.04749990937182E-09"
          ixz="-5.20832174442818E-10"
          iyy="4.19901677616113E-07"
          iyz="-5.66807478714134E-10"
          izz="4.24187010973064E-07" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
          <meterial name="black">
            <color rgba="0 0 0 1" />
          </meterial>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
        </collision>
      </link>
      <!--right back-->
      <link name="laser_3">  
        <inertial>
          <origin xyz="-0.175 0.742 -0.105" rpy="0 0 0" />
          <mass value="0.00693911277597958" />
          <inertia 
          ixx="4.24990177842731E-07"
          ixy="9.04749990937182E-09"
          ixz="-5.20832174442818E-10"
          iyy="4.19901677616113E-07"
          iyz="-5.66807478714134E-10"
          izz="4.24187010973064E-07" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
          <meterial name="black">
            <color rgba="0 0 0 1" />
          </meterial>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
        </collision>
      </link>
      <!--left back-->
      <link name="laser_4">
        <inertial>
          <origin xyz="0.175 0.742 -0.105" rpy="0 0 0" />
          <mass value="0.00693911277597958" />
          <inertia 
          ixx="4.24990177842731E-07"
          ixy="9.04749990937182E-09"
          ixz="-5.20832174442818E-10"
          iyy="4.19901677616113E-07"
          iyz="-5.66807478714134E-10"
          izz="4.24187010973064E-07" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
          <meterial name="black">
            <color rgba="0 0 0 1" />
          </meterial>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
        </collision>
      </link>
      <!--left 1-->
      <link name="laser_5">
        <inertial>
          <origin xyz="0.317 -0.260 -0.105" rpy="0 0 0" />
          <mass value="0.00693911277597958" />
          <inertia 
          ixx="4.24990177842731E-07"
          ixy="9.04749990937182E-09"
          ixz="-5.20832174442818E-10"
          iyy="4.19901677616113E-07"
          iyz="-5.66807478714134E-10"
          izz="4.24187010973064E-07" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
          <meterial name="black">
            <color rgba="0 0 0 1" />
          </meterial>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
        </collision>
      </link>
      <!--left 2-->
      <link name="laser_6">
        <inertial>
          <origin xyz="0.317 0.550 -0.105" rpy="0 0 0" />
          <mass value="0.00693911277597958" />
          <inertia 
          ixx="4.24990177842731E-07"
          ixy="9.04749990937182E-09"
          ixz="-5.20832174442818E-10"
          iyy="4.19901677616113E-07"
          iyz="-5.66807478714134E-10"
          izz="4.24187010973064E-07" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
          <meterial name="black">
            <color rgba="0 0 0 1" />
          </meterial>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://viechle_urdf/meshes/sensor.STL" />
          </geometry>
        </collision>  
      </link>
      
      <sensor name="laser_sensor_1" update_rate="20">
        <parent link="laser_1"/>
        <origin xyz="-0.317 -0.260 -0.105" rpy="0 0 0"/>
        <ray>
          <horizontal samples="100" resolution="1" min_angle="-1.5708" max_angle="1.5708"/>
          <vertical samples="1" resolution="1" min_angle="0" max_angle="0"/>
        </ray>
      </sensor>
      
      <sensor name="laser_sensor_2" update_rate="20">
        <parent link="laser_2"/>
        <origin xyz="-0.317 0.550 -0.105" rpy="0 0 0"/>
        <ray>
          <horizontal samples="100" resolution="1" min_angle="-1.5708" max_angle="1.5708"/>
          <vertical samples="1" resolution="1" min_angle="0" max_angle="0"/>
        </ray>
      </sensor>

      <sensor name="laser_sensor_3" update_rate="20">
        <parent link="laser_3"/>
        <origin xyz="-0.175 0.742 -0.105" rpy="0 0 0"/>
        <ray>
          <horizontal samples="100" resolution="1" min_angle="-1.5708" max_angle="1.5708"/>
          <vertical samples="1" resolution="1" min_angle="0" max_angle="0"/>
        </ray>
      </sensor>
      
      <sensor name="laser_sensor_4" update_rate="20">
        <parent link="laser_4"/>
        <origin xyz="0.175 0.742 -0.105" rpy="0 0 0"/>
        <ray>
          <horizontal samples="100" resolution="1" min_angle="-1.5708" max_angle="1.5708"/>
          <vertical samples="1" resolution="1" min_angle="0" max_angle="0"/>
        </ray>
      </sensor>
      
      <sensor name="laser_sensor_5" update_rate="20">
        <parent link="laser_5"/>
        <origin xyz="0.317 -0.260 -0.105" rpy="0 0 0"/>
        <ray>
          <horizontal samples="100" resolution="1" min_angle="-1.5708" max_angle="1.5708"/>
          <vertical samples="1" resolution="1" min_angle="0" max_angle="0"/>
        </ray>
      </sensor>

      <sensor name="laser_sensor_6" update_rate="20">
        <parent link="laser_6"/>
        <origin xyz="0.317 0.550 -0.105" rpy="0 0 0"/>
        <ray>
          <horizontal samples="100" resolution="1" min_angle="-1.5708" max_angle="1.5708"/>
          <vertical samples="1" resolution="1" min_angle="0" max_angle="0"/>
        </ray>
      </sensor>
      
      
 <!--joint-->     
      <joint name="joint_base_wheel1" type="fixed">  
        <parent link="base_link"/>  
        <child link="wheel_1"/>  
      </joint>  
      
      <joint name="joint_base_wheel2" type="fixed">  
        <parent link="base_link"/>  
        <child link="wheel_2"/>  
      </joint>  

      <joint name="joint_base_wheel3" type="fixed">  
        <parent link="base_link"/>  
        <child link="wheel_3"/>  
      </joint>  
      
      <joint name="joint_base_wheel4" type="fixed">  
        <parent link="base_link"/>  
        <child link="wheel_4"/>  
      </joint>
      
      
 <!-- laser -->
      <joint name="joint_base_laser1" type="fixed">  
        <parent link="base_link"/>  
        <child link="laser_1"/>  
      </joint>
      
      <joint name="joint_base_laser2" type="fixed">  
        <parent link="base_link"/>  
        <child link="laser_2"/>  
      </joint>  
          
      <joint name="joint_base_laser3" type="fixed">  
        <parent link="base_link"/>  
        <child link="laser_3"/>  
      </joint>  
      
      <joint name="joint_base_laser4" type="fixed">  
        <parent link="base_link"/>  
        <child link="laser_4"/>  
      </joint>  
            
      <joint name="joint_base_laser5" type="fixed">  
        <parent link="base_link"/>  
        <child link="laser_5"/>  
      </joint>
      
      <joint name="joint_base_laser6" type="fixed">  
        <parent link="base_link"/>  
        <child link="laser_6"/>  
      </joint>
        
    </robot>  
