<launch>
 <param name="robot_description" command="cat $(find viechle_urdf)/urdf/viechle.xml" />
 
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
 
 <node name="viechle_state_publisher" pkg="viechle_urdf" type="viechle_state_publisher">
  <param name="radius" value="5.0" />
 </node>
 
<!--  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find viechle_urdf)/rviz/urdf.rviz" required="true" />  -->
</launch>
