<launch>
  <include file="$(find robot_bringup)/launch/asus_sense.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="scan_topic" value="/scan" />
  </include>
  <include file="$(find robot_bringup)/launch/hector.launch.xml"/>
</launch>
