<launch>
 <include file="$(find nav_staff)/launch/xml/rplidar.launch.xml">
  <arg name="scan_topic" value="/scan" />
    <arg name="rplidar_frame" value="/camera_depth_frame" />
    <arg name="range_min" default="0.15" />
    <arg name="range_max" default="6.0" />
 </include>
 <include file="$(find nav_staff)/launch/xml/hector.launch.xml"/>
</launch>

